a { color: inherit; } 
a:hover{ color: inherit; }
ul {
    list-style-type: none;
  }
p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}
h1{
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    color:#C40909;
}
h2{
    font-family: 'Nunito Sans', sans-serif;
}
img{
    position: relative;
    display: block;
}
body{
    background-color: #FCFAF9;
    min-width: 100%;
    
    padding-top: 60px;
}
footer{
    min-width: 100%;
    padding-top: 50px;
    background-color: black !important;
}
footer h5{
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10px;
}
.message{
    background-color: #0d0d0d;
}
.logo{opacity: 0;}
.navbar{
    background-color: #333333;
    opacity: 0.8;
}
.navbar-toggler{
    background-color: aquamarine !important;
}
.nav-link{
    color: #C40909 !important;
    font-size: 1.2rem;
}
.top-logo-block{
    background-color: #0d0d0d;
    padding-bottom: 100px;
}
.top-logo-block img{
    padding-top: 100px;
    padding-top: 100px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary{
    background-color: #C40909 !important;
    border-color: #C40909 !important;
}
.btn-primary:hover{
    background-color: #C40909 !important;
    border-color: #C40909 !important;
}
.info-box{
    margin-bottom: 30px;
}
.footer-content{
    color: #FCFAF9;
}
.footer-content h5, i{
    display: inline-block;
}
.links{
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.logo-container{
    display:inline-block;
    overflow: hidden;
    width: auto;
    margin-left: 40%;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.card-body img{
    display: inline-block;
    width: 60px;
    margin-bottom: 15px;
}
.card-body h2{
    display: inline-block;
}
.instagram ,.facebook ,.twitter{
    transition: all 0.3s ease-in-out;
}
.instagram:hover{
    color: #fb3958;
}
.facebook:hover{
    color: 	#8b9dc3;
}
.twitter:hover{
    color: #1dcaff;
}
.copyright{
    padding-bottom: 10px;
    font-size: 0.9em;
    margin-top: 30px;
}
.copyright p{
    font-size: 0.9em;
    
}
.card-extention{
    background-color: lightgrey;
    min-height: 100px;
}
.square-logo{
    display:inline-block;
    position:fixed;
    left:50px;
    bottom:50px;
    opacity: 0;
}
@media (max-width: 992px){
    .navbar-expand-lg{
        
    }
}


@media all and (min-width: 1280px) and (max-width: 4000px) {
	.navbar{
        display: none !important;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .navbar{
        display: none !important;
    }
}
@media all and (min-width: 970px) and (max-width: 1024px) {
	.navbar{
        display: none !important;
    }
}
@media all and (min-width: 800px) and (max-width: 969px) {
	.navbar{
        display: none !important;
    }
}
@media all and (min-width: 480px) and (max-width: 800px) {
    .top-logo-block img{
        width: 50%;
    }
}

@media all and (max-width: 480px) {
	.top-logo-block img{
        width: 50%;
    }
    p, h1,h2,h3,h4,h5{
        text-align: center;
    }
    .square-logo{
        display: none !important;
    }
}
