a { color: inherit; } 
ul {
    list-style-type: none;
  }
p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}
h1{
    font-family: 'Lato', sans-serif;
    font-style: bold;
    color:#C40909;
}
img{
    position: relative;
    display: block;
}
body{
    background-color: #FCFAF9;
    min-width: 100%;
    
    padding-top: 60px;
}
footer{
    min-width: 100%;
    padding-top: 50px;
}
.logo{opacity: 0;}
.navbar{
    background-color: #333333;
}
.navbar-toggler{
    background-color: aquamarine !important;
}
.nav-link{
    color: #C40909 !important;
    font-size: 1.2rem;
}
.top-logo-block{
    background-color: #0d0d0d;
    padding-bottom: 100px;
}
.top-logo-block img{
    padding-top: 100px;
    padding-top: 100px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary{
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}
.btn-primary:hover{
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}
.info-box{
    margin-bottom: 30px;
}
.footer-content{
    color: #FCFAF9;
}
.footer-content h5, i{
    display: inline-block;
}
.links{
    
}
.center{
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 992px){
    .navbar-expand-lg{
        
    }
}


@media all and (min-width: 1280px) and (max-width: 4000px) {
	
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
	    
}
@media all and (min-width: 970px) and (max-width: 1024px) {
	
}
@media all and (min-width: 800px) and (max-width: 969px) {
	
}
@media all and (min-width: 480px) and (max-width: 800px) {
    .top-logo-block img{
        width: 50%;
    }
}

@media all and (max-width: 480px) {
	
}
